{% extends "layout.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/route.css')}}">  
{% endblock %} 

<body>
    {% block body %} 
    {{super()}}
    <div class="container padding">
        <div class="row">
            <div class="col-12 col-md-12">
                <nav class="navbar navbar-light bg-light">                        
                    <div>
                        <span class="badge badge-secondary">
                                {{accident.acc_area_name|title }}
                        </span> 
                         -
                        <span class="navbar-text">
                            {{accident['acc_title']|title }}
                        </span>
                    </div>
                    <form action="#" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="route-button"
                            data-toggle="modal" data-target="#routeModal">Check Hospitals</button> &nbsp;
                        <button class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#updateModal" 
                            type="button">EDIT</button> &nbsp;
                        <button class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal" data-target="#deleteModal" 
                            type="button">DELETE</button> &nbsp;
                    </form>
                </nav>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 col-md-5">
                <div class="col-12" style="padding-left: 0px;">  
                    <img src="/uploaded_files/{{accident.acc_photo}}" style="width:100%;height:400px;"/>     
                    
                </div>
                <div class="row align-items-end text-center acc-status-div">
                    <div class="col col-status">                        
                        <div class="alert alert-danger acc-status" role="alert">
                            {{accident.acc_no_dead}}
                        </div>
                        Dead
                    </div>
                    <div class="col col-status">
                        <div class="alert alert-warning acc-status" role="alert">
                            {{accident.acc_no_major}}
                        </div>
                        Major Inquiries
                    </div>
                    <div class="col col-status">                        
                        <div class="alert alert-primary acc-status" role="alert">
                            {{accident.acc_no_minor}}
                        </div>
                        Minor Injuries
                    </div>
                    <div class="col col-status">
                        <div class="alert alert-success acc-status" role="alert">
                            {{accident.acc_no_uninjured}}
                        </div>
                        Uninjuries
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-7">
                
                <div class="jumbotron">
                        <h1 class="display-4">{{accident.acc_title}}</h1>
                        <p>On {{accident.acc_time}}</p>
                        <hr class="my-4">
                        <p class="lead">{{ accident.acc_desc }} </p>
                        <hr class="my-4">
                  </div>

                <div class="row align-items-end">
                        <div class="col">
                            {% if 'Taxis' in accident.acc_involved %}
                            <span class="badge badge-danger">Taxi</span> 
                            {% endif%}
                            {% if 'Bodas' in accident.acc_involved %}
                            <span class="badge badge-primary">Boda Boda</span> 
                            {% endif%} 
                            {% if 'Pedestrians' in accident.acc_involved %}
                            <span class="badge badge-secondary">Pedestrians</span> 
                            {% endif %}
                            {% if 'Private Car' in accident.acc_involved %}
                            <span class="badge badge-success">Private Cars</span> 
                            {% endif %} 
                        </div>
                </div>
            </div>
            
        </div>

    </div> 
    {% include 'includes/__route_modal.html' %}
    {% include 'includes/__edit_accident_modal.html' %}
    {% include 'includes/__delete_accident_modal.html' %}
    {% endblock %}

</body>
{% block scripts %}
  {{super()}}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7g68KcjjZ3nGcT0Jcjo6nWPXfITNVStA&libraries=visualization,places" type="text/javascript"></script>
  <script src="{{url_for('.static', filename='js/route.js')}}"></script>
  <script>
    window.onload = function(){
        $('#route-button').click(function(){
            console.log(23729646287)
            //generateRoute()
        });
        $('#routeModal').on('shown.bs.modal', function () {
            loadHospitalMap()
        })
    }   
  </script>
{% endblock %}