{% extends "layout.html" %}

<body>
    {% block body %} 
    {{super()}}
    <div class="container padding"> 
      <div class="row">
          <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" 
                role="tab" aria-controls="v-pills-home" aria-selected="true">By Road Users</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" 
                role="tab" aria-controls="v-pills-profile" aria-selected="false">By Area</a>   
              <a class="nav-link" id="v-pills-byhour-tab" data-toggle="pill" href="#v-pills-by-hour" 
                role="tab" aria-controls="v-pills-by-hour" aria-selected="false">Accident By Hour</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <nav class="navbar navbar-light bg-light">
                      <span class="navbar-text">
                        No. of Accident Victims per Area in Kampala
                      </span>
                  </nav>
                  <br>
                  <div class="row">
                      <div class="col-6">
                        <div id="piechart">
                            <loading>Loading...</loading>
                        </div>
                      </div>
                      <div class="col-6">
                        <div id="barchart">
                          <loading>Loading...</loading>
                        </div>
                      </div>
                  </div>          
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <nav class="navbar navbar-light bg-light">
                      <span class="navbar-text">
                        No. of Accidents Reported per Area in Kampala
                      </span>             
                  </nav>
                  <br>
                  <div class="row">
                    <div class="col-6">
                      <div id="piechart-area">
                          <loading>Loading...</loading>
                      </div>
                    </div>
                    <div class="col-6">
                      <div id="barchart-area">
                        <loading>Loading...</loading>
                      </div>
                    </div>
                </div>   
              </div> 
              <div class="tab-pane fade" id="v-pills-by-hour" role="tabpanel" aria-labelledby="v-pills-byhour-tab">
                  <nav class="navbar navbar-light bg-light">
                      <span class="navbar-text">
                          No. of Accident Per Hour
                      </span>
                  </nav>                  
                  <br>
                  <div class="row">
                    <div class="col-6">
                      <div id="barchart-hour">
                        <loading>Loading...</loading>
                      </div>
                    </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
    </div> 
    {% endblock %}

</body>
{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      window.onload = function(){ 
        // Load Charts and the corechart and barchart packages.
        google.charts.load('current', {'packages':['corechart']});

        // Draw the pie chart and bar chart when Charts is loaded.
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawPerArea);
        google.charts.setOnLoadCallback(drawPerHour);

        function drawChart() {

          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Number');
          stat = {{list|tojson}}
          data.addRows(stat)
          console.log(stat) 
          var piechart_options = {title:'Pie Chart: Auto involved in Accidents ',
                        width:500,
                        height:350};
          var piechart = new google.visualization.PieChart(document.getElementById('piechart'));
          piechart.draw(data, piechart_options);

          var barchart_options = {title:'Barchart: Auto involved in Accidents ',
                        width:500,
                        height:350,
                        legend: 'none'};
          var barchart = new google.visualization.BarChart(document.getElementById('barchart'));
          barchart.draw(data, barchart_options);

        }  

        function drawPerArea() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Area');
          data.addColumn('number', 'Number of Accident');
          stat = {{per_area|tojson}}
          data.addRows(stat)
          console.log(stat) 
          var piechart_options = {title:'Pie Chart: Accidents Per Area in Kampala',
                        width:500,
                        height:350};
          var piechart = new google.visualization.PieChart(document.getElementById('piechart-area'));
          piechart.draw(data, piechart_options);

          var barchart_options = {title:'Barchart: Accidents Per Area In Kampala ',
                        width:500,
                        height:350,
                        legend: 'none'};
          var barchart = new google.visualization.BarChart(document.getElementById('barchart-area'));
          barchart.draw(data, barchart_options);

          }

          function drawPerHour() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Hour');
          data.addColumn('number', 'Number of Accident');
          stat = {{per_hour|tojson}}
          data.addRows(stat)
          var barchart_options = {title:'Barchart: Accidents Per Hour In Kampala',
                        width:600,
                        height:400,
                        legend: 'true',        
                        bar: {groupWidth: "75%"},
                        colors:['#c6dbfd'],
                        hAxis: {title: 'No of Accidents'},
                        vAxis: {title: 'Hours as 24Hr'},
                      };
          var barchart = new google.visualization.BarChart(document.getElementById('barchart-hour'));
          barchart.draw(data, barchart_options);
          }
    }
  </script>
{% endblock %}