{% extends "layout.html" %}
{% block title %} Home Page {% endblock %}
<body>
    {% block body %} 
    {{super()}}
    <input type="text" value="{{ session['user_id'] }}" id="session_user_id" hidden/>
    <div class="container padding">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">My Reports</a>  
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal"  href="#">Report Accident</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-text">
                      Dashboard 
                    </span>
                </nav>
                <br>
                <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 16rem;">
                        <div class="card-body text-center">
                          <h1 class="display-1">{{minor}}</h1>
                          <p class="card-text">Minor Accidents.</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                    <div class="card text-white bg-warning mb-3" style="max-width: 16rem;">
                        <div class="card-body text-center"> 
                          <h1 class="display-1 ">{{major}}</h1>
                          <p class="card-text">Serious Accidents</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                    <div class="card text-white bg-danger mb-3" style="max-width: 16rem;">
                        <div class="card-body text-center">
                          <h1 class="display-1">{{fatal}}</h1>
                          <p class="card-text">Fatal Accidents</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="card-deck">
                  <div class="card text-white bg-success mb-3" style="max-width: 16rem;">
                    <ul class="list-group list-group-flush text-muted">
                      <li class="list-group-item">Taxi Involved Accidents</li>
                      <li class="list-group-item">{{taxis_involved}}</li>
                    </ul>
                  </div>
                  <div class="card text-white bg-warning mb-3" style="max-width: 16rem;">
                    <ul class="list-group list-group-flush text-muted">
                      <li class="list-group-item">Boda Boda Involved Accident</li>
                      <li class="list-group-item">{{boda_involved}}</li>
                    </ul>
                  </div>
                  <div class="card text-white bg-danger mb-3" style="max-width: 16rem;">
                    <ul class="list-group list-group-flush text-muted">
                      <li class="list-group-item">Total Deaths</li>
                      <li class="list-group-item">{{dead_count}}</li>
                    </ul>
                  </div>
              </div>              
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-text">
                      My Reported Accidents
                    </span>             
                </nav>
                <br>
                <div class="table-responsive">
                  <table id="table" class="table table-sm table-striped table-dark">

                  </table>   
                </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
    {% endblock %}

</body>
{% block scripts %}
  {{super()}} 
  <script>
    function operateFormatter(value, row, index) {
      return [
        '<a class="like" href="javascript:void(0)" title="View the details of this accident">',
        '<i class="fa fa-heart">view</i>',
        '</a>  '
      ].join('')
    }
    function accidentIDFormatter(value,row,index){
      return [
        `<span>KAC-${value}</span`
      ].join("")
    }
    function accidentDateFormatter(value,row,index){
    
      var dt = new Date(value).toUTCString()
      return [
        `${dt}`
      ].join('')
    }
    window.operateEvents = {
      'click .like': function (e, value, row, index) { 
        window.location.href = '/accident/'+row.id;
      }
    }
    window.onload = function(){
      user_id = $('#session_user_id').val() 
      $('#table').bootstrapTable({
        pagination:true,
        search:true,
        pageSize:15,
        columns: [{
          field: 'id',
          title: '#',
          formatter:accidentIDFormatter
        }, {
          field: 'acc_title',
          title: 'Accident Title'
        }, {
          field: 'acc_time',
          title: 'Time Reported',
          formatter:accidentDateFormatter
        }, {
          field: 'operate',
          title: '',
          align: 'center',
          events: window.operateEvents,
          formatter: operateFormatter
        }],
        url:'/all-accidents/'+user_id
    });
    } 
  </script>
{% endblock %}