{% extends "layout.html" %}
{% block title %} Home Page {% endblock %}

<body>
    {% block body %} 
    {{super()}}
    <div class="container padding">
        <ul class="navbar-nav mr-auto">  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
              Show On Map
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" onclick="loadHospitalMap();">Nearby Hospitals</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" onclick="loadHeatMap();">Accident HeatMap</a>
            </div>
          </li>
        </ul>
        <div id="mapCanvas">
          <loading>Initializing...</loading>
        </div>
    </div> 
    {% endblock %}

</body>
{% block scripts %}
  {{super()}}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7g68KcjjZ3nGcT0Jcjo6nWPXfITNVStA&libraries=visualization,places&language=EN&region=UG" type="text/javascript"></script>
  <script>
  window.onload = function(){
    //console.log(pickCoordinates()) 
    loadHeatMap()
  }   
  </script>
{% endblock %}