#mapCanvas {
    width: 100%;
    height: 500px;
    height:10vh;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: black;
    margin-top:1.5%;
}

.padding{
    padding: 5px;
}

.feeds{
    padding: 15px 0;
}
.photo-display{
    width: 100%;
    height: 60px;
    display: inline-table;
    margin: 1px 0;
    padding: 1px;
    background-color: beige;
}
reported{
    color:#007bff;
}

.modal-body hr{
    margin-top:0;
}