#mapCanvas {
    width: 100%;
    height: 500px;
    height:10vh;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: black;
    margin-top:1.5%;
}

.padding{
    padding: 5px;
}

.feeds{
    padding: 15px 0;
}
.photo-display{
    width: 100%;
    height: 55px;
    display: none;
    margin: 2px 0;
    padding: 1px;
    background-color: beige;
}
.photo-display .close-me{
    position: absolute;
    color: red;
    cursor: pointer;
    top: 34px;
    right: 4px;
    width: 10px;
    height: 10px;
}

.photo-display img#accident_image{
    float:left;
    width:50px;
    padding:1px 3px;
    height: 50px; 
}

.custom-file {
    margin-bottom: 15px !important;
}

reported{
    color:#007bff;
}

.modal-body hr{
    margin-top:0;
}