<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Accident Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="accident-title" class="col-form-label">Title:</label>
                    <input type="text" class="form-control form-control-sm" id="accident-title" required>
                </div>
                <div class="form-group">
                    <label for="accident-desc" class="col-form-label">Description:</label>
                    <textarea class="form-control form-control-sm" id="accident-desc" 
                        pattern=".+{,5}" maxlength="150" rows="2" required></textarea>
                </div>
                <div class="custom-file">
                    <input type="file" onchange="display_this(this);" class="custom-file-input" 
                        id="accident-photos" accept="image/*" multiple required>
                    <label class="custom-file-label" for="accident-photos">Attach Photos...</label>
                    <div class="invalid-feedback">You must Attach atleast one photo</div>
                    <div class="photo-display">
                        <span class="close-me" onclick="close_display();">&times;</span>
                        <img id="accident_image" src="http://placehold.it/48" alt="your image" />
                    </div>
                  </div>
                <div class="form-group">
                    <label for="accident-address" class="sr-only">Address:</label>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" id="accident-address" 
                            pattern="[0-9]{10},[0-9]{10}" maxlength="25" placeholder="Latitude, Longitude" required>
                        <div class="col-auto">
                          <button type="button" class="btn btn-default mb-2">Pick HERE</button>
                        </div>
                      </div>
                </div>
                <div class="form-group row accident-selector">
                    <label for="accident-involved" class="col-sm-4 col-form-label">Accident Involved</label>
                    <div class="col-sm-8">
                        <select class="form-control selectpicker" name="accident-involved" multiple data-live-search="true">
                            <option value="boda">Bodas</option>
                            <option>Taxis</option>
                            <option>Pedestrians</option>
                            <option>Private Car</option> 
                        </select>
                    </div>
                </div>
                <Reported>Reported by</Reported>
                <hr />
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="accident-by-name">Name</label>
                      <input type="text" class="form-control" id="accident-by-name" placeholder="First name" maxlength="15" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="accident-by-phone">Telephone</label>
                      <input type="text" class="form-control" id="accident-by-phone" placeholder="256772000123" maxlength="12">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md mb-3">
                        <label for="accident-by-victim">Victim of Accident</label>
                        <div class="custom-control  custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="accident-by-victim" required>
                            <label class="custom-control-label" for="accident-by-victim">Yes</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit Accident</button>
            </div>
        </form>
        </div>
        </div>
    </div> 

    <script>
        bootstrapValidate(['#accident-title','#accident-desc'], 'min:10:Enter at least 10 characters!')
        bootstrapValidate('#accident-photos','required:You must atleast select one accident photo')
        bootstrapValidate('#accident-by-phone','regex:^2567[0-9]{8}:Format should be 2567________|numeric:Only number acceptable!') 
        bootstrapValidate(["#accident-by-victim"],'required')
        bootstrapValidate('#accident-by-name','regex:^[A-Za-z]{3,15}|alpha:Only Letters are acceptable')

        $('select').selectpicker();
    </script> 