

      <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Your Account Now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="/create-user" method="POST">
                        <div class="form-group">
                            <label for="user-fullname">Full Name</label>
                            <input type="text" class="form-control" id="user-fullname" name="name"
                                placeholder="Firstname Lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="user-email">Email</label>
                            <input type="text" class="form-control" id="user-email" name="email"
                                placeholder="Email Address" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="user-pass">Password</label>
                                <input type="password" class="form-control" id="user-pass" name="password"
                                    placeholder="Password" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="user-pass-confirm">Confirm Password</label>
                                <input type="password" class="form-control" id="user-pass-confirm" name="user_cpass" 
                                    placeholder="Re-type Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user-phonenumber">Phone Number</label>
                            <input type="tel" class="form-control" id="user-phonenumber" name="phone" 
                                placeholder="256 781 000233" required>
                        </div>
                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
            </form>
            </div>
            </div>
        </div> 
        <script>
            bootstrapValidate('#user-email', 'email:Enter valid email as user@host.com')
            bootstrapValidate('#user-pass','regex:^[A-Za-z0-9]{8,20}:Password must be atleast 8 alpha numeric')
            bootstrapValidate('#user-pass-confirm','matches:#user-pass:Your passwords should match')
            bootstrapValidate('#user-fullname', 'regex:^[A-Za-z]{3,15},[A-Za-z]{3,15}:Fill name as firstname,lastname')
            bootstrapValidate('#user-phonenumber','regex:^2567[0-9]{8}:Format should be 2567________|numeric:Only number acceptable!')
        </script> 